.mainStorage{
    display: grid;
    grid-template-columns: [first1] 60vw [first2] 50vw; 
    grid-template-rows: [first1] 40vh [first3] 50vh;
}

.one{  
    grid-column: first1;
}

.two{
    grid-column: first1;
    grid-row: first3;
}